{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %} Atualizar Doação | {{ block.super}} {% endblock title %}

{% block spacename %} Doação: {{object.name}} {% endblock spacename %}

{% block container %}
<div class="container-fluid">
    <div class="col-md-5">
        <table class="table table-user-information">
            <tbody>
                <tr>
                  <th class="col-md-3 text-right">Nome</th>
                  <td>{{ object.name }}</td>
                </tr>
                <tr>
                  <th class="col-md-3 text-right">Tipo de serviço</th>
                  <td>{{ object.service_type }}</td>
                </tr>
                <tr>
                  <th class="col-md-3 text-right">Doador</th>
                  <td>{{ object.donor }}</td>
                </tr>
                <tr>
                  <th class="col-md-3 text-right">Data</th>
                  <td>{{ object.date }}</td>
                </tr>
                <tr>
                  <th class="col-md-3 text-right">Quantidade</th>
                  <td>{{ object.quantity }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
