{% extends "base.html" %}

{% load pagination %}

{% block title %} Lista de Doações | {{ block.super}} {% endblock title %}

{% block spacename %} Lista de Doações {% endblock spacename %}

{% block container %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form class="navbar-form navbar-right" action="." method="get">
        <div class="col-md-12">
          <!-- add -->
          <a href="{% url 'donations:donation_add' %}">
            <button id="new_customer" type="button" class="btn btn-primary">
              <span class="glyphicon glyphicon-plus"></span> Adicionar
            </button>
          </a>
          <!-- search form -->
          <form class="navbar-form navbar-left" role="search" action="{% url 'expenses:expense' %}">
            <div class="form-group">
              <input name="q" type="text" class="form-control" placeholder="Pesquisar..." />
              <button type="submit" class="btn btn-success form-control"><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </form>
        <br><br>
        <!-- search links -->
        <ul class="list-inline text-right">
          <li><a href="{% url 'donations:donation' %}"><span class="fa fa-star status-aprovado"></span> Todos</a></li>
          <li><a href="?service_type=Doação" name="doação"><span class="glyphicon glyphicon-ok-sign ok"></span> Doação </a></li>
          <li><a href="?service_type=Recebimento" name="recebimento"><span class="glyphicon glyphicon-ok-sign ok"></span> Recebimento </a></li>
        </ul>
      </div>
      </form>
    </div>
    <div class="col-md-12">
      <hr/>
    </div>
    <div class="col-md-12">
    	<table class="table table-bordered">
    		<thead>
    			<tr>
    				<th>Item</th><th>Descrição</th><th>Tipo de Serviço</th><th>Doador</th><th>Qtd.</th><th>Data</th>
    			</tr>
    		</thead>
    		<tbody>
          {% for donation in donations %}
        			<tr>
                  <td><a href="{{ donation.get_absolute_url }}">{{donation.item}}</a></td>
                  <td>{{donation.description}}</td>
                  <td>{{donation.service_type}}</td>
                  <td>{{donation.donor}}</td>
                  <td>{{donation.quantity}}</td>
                  <td>{{donation.created_at|date:"d/m/Y H:i A"}}</td>
              </tr>
          {% endfor %}
    		</tbody>
    	</table>
    </div>
  </div>
  {% pagination request paginator page_obj%}
</div>
{% endblock %}
