{% extends "base.html" %}

{% load bootstrap %}
{% load widget_tweaks %}

{% block title %} Registro de usuário | {{ block.super}} {% endblock title %}

{% block spacename %} Registro de usuário {% endblock spacename %}

{% block container %}
<form class="form-horizontal col-sm-5" action="." method="POST">
  {% csrf_token %}
  {{ form|bootstrap_horizontal:'col-lg-3' }}
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-9">
      <button type="submit" class="btn btn-primary"> Salvar </button>
    </div>
  </div>
</form>
{% endblock %}
