{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %} Detalhes da despesa | {{ block.super}} {% endblock title %}

{% block spacename %} Detalhes da despesa: {{object.item}} {% endblock spacename %}

{% block container %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" href="#collapseOne">
              <span class="fa fa-user"></span> Despesas </a> </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="row">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <th class="col-md-3 text-justify"> Tipo de serviço </th>
                      <td>{{ expenses.service_type }}</td>
                    </tr>
                    <tr>
                      <th class="text-justify"> Item </th>
                      <td>{{ expenses.item }}</td>
                    </tr>
                    <tr>
                      <th class="text-justify"> Descrição </th>
                      <td>{{ expenses.description }}</td>
                    </tr>
                    <tr>
                      <th class="text-justify"> Quantidade </th>
                      <td>{{ expenses.quantity }}</td>
                    </tr>
                    <tr>
                      <th class="text-justify">  Unidade(s) </th>
                      <td>{{ expenses.unit }}</td>
                    </tr>
                    <tr>
                      <th class="text-justify">  Preço </th>
                      <td>R$ {{ expenses.price }}</td>
                    </tr>
                    <tr>
                      <th class="text-justify">  Total </th>
                      <td>R$ {{ expenses.total }}</td>
                    </tr>
                    <tr>
                      <th class="text-justify"> Data </th>
                      <td>{{ expenses.date|date }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- button back -->
      <form class="navbar-form navbar-right" action="." method="get">
        <a href="{% url 'expenses:expense' %}">
          <button type="button" class="btn btn-info btn-lg" style="width: 190px; height: 50px">
            <span class="glyphicon glyphicon-back"></span> Voltar
          </button>
        </a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
