{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %} Detalhes do {{ employees.employees_type }} | {{ block.super}} {% endblock title %}

{% block spacename %} Detalhes de {{ employees.name }} {{ employees.last_name }} {% endblock spacename %}

{% block container %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse" href="#collapseOne">
              <span class="fa fa-user"></span> Funcionário </a> </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="row">
                <table class="table table-user-information">
                  <tbody>
                    <tr>
                      <th class="text-justify"> Ativo </th>
                      {% if employees.is_active is True %}
                        <td><p class="glyphicon glyphicon-ok text-success"></p></td>
                      {% else %}
                        <td><p class="glyphicon glyphicon-remove text-danger"></p></td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="col-md-3 text-justify"> Nome </th>
                      <td>{{ employees.name }}</td>
                    </tr>
                    <tr>
                      <th class="col-md-3 text-justify"> Sobrenome </th>
                      <td>{{ employees.last_name }}</td>
                    </tr>
                    <tr>
                      <th class="col-md-3 text-justify"> Email </th>
                      <td>{{ employees.email }}</td>
                    </tr>
                    <tr>
                      <th class="col-md-3 text-justify"> Telefone </th>
                      <td>{{ employees.phone }}</td>
                    </tr>
                    <tr>
                      <th class="col-md-3 text-justify"> Celular </th>
                      <td>{{ employees.cellphone }}</td>
                    </tr>
                    <tr>
                      <th class="col-md-3 text-justify"> Nascimento </th>
                      <td>{{ employees.date_of_birth }}</td>
                    </tr>
                    <tr>
                      <th class="col-md-3 text-justify"> Gênero </th>
                      <td>{{ employees.gender }}</td>
                    </tr>
                    <tr>
                      <th class="col-md-3 text-justify"> Mãe </th>
                      <td>{{ employees.mothers_name }}</td>
                    </tr>
                    <tr>
                      <th class="col-md-3 text-justify"> Pai </th>
                      <td>{{ employees.fathers_name }}</td>
                    </tr>
                    <tr>
                      <th class="col-md-3 text-justify"> RG </th>
                      <td>{{ employees.rg }}</td>
                    </tr>
                    <tr>
                      <th class="col-md-3 text-justify"> CPF </th>
                      <td>{{ employees.cpf }}</td>
                    </tr>
                    <tr>
                      <th class="col-md-3 text-justify"> Bolsa Auxílio </th>
                      {% if employees.bag_helped is True %}
                        <td><p class="glyphicon glyphicon-ok text-success"></p></td>
                      {% else %}
                        <td><p class="glyphicon glyphicon-remove text-danger"></p></td>
                      {% endif %}
                    </tr>
                    <tr>
                      <th class="col-md-3 text-justify"> Valor </th>
                      <td>{{ employees.value }}</td>
                    </tr>
                    <tr>
                      <th class="col-md-3 text-justify"> Tipo de serviço </th>
                      <td>{{ employees.employees_type }}</td>
                    </tr>
                    <tr>
                      <th class="col-md-3 text-justify"> Profissão </th>
                      <td>{{ employees.occupation }}</td>
                    </tr>
                    <tr>
                      <th class="col-md-3 text-justify"> Estado civil </th>
                      <td>{{ employees.civil_status }}</td>
                    </tr>
                    <tr>
                      <th class="text-justify"> Endereço </th>
                      <td>{{ employees.address }}</td>
                    </tr>
                    <tr>
                      <th class="text-justify"> Número </th>
                      <td>{{ employees.number }} </td>
                    </tr>
                    <tr>
                      <th class="text-justify"> Complemento </th>
                      <td>{{ employees.complement }} </td>
                    </tr>
                    <tr>
                      <th class="text-justify"> Bairro </th>
                      <td>{{ employees.neighborhood }} </td>
                    </tr>
                    <tr>
                      <th class="text-justify"> Cidade </th>
                      <td>{{ employees.city }} </td>
                    </tr>
                    <tr>
                      <th class="text-justify"> Estado </th>
                      <td>{{ employees.state }} </td>
                    </tr>
                    <tr>
                      <th class="text-justify"> CEP </th>
                      <td>{{ employees.cep }} </td>
                    </tr>
                    <tr>
                      <th class="text-justify"> Data </th>
                      <td>{{ employees.created_at|date:"d/m/Y H:i A" }}</td>
                    </tr>
                    <tr>
                      <th class="col-md-3 text-justify"> Observações </th>
                      <td>{{ employees.comments }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <!-- button back -->
      <form class="navbar-form navbar-right" action="." method="get">
        <a href="{% url 'users:employees_update' employees.pk %}">
          <a href="{% url 'users:employees_update' employees.pk %}">
            <button type="button" class="btn btn-primary btn-lg" style="width: 140px; height: 50px">
              <span class="glyphicon glyphicon-back"></span> Editar
            </button>
          </a>
        </a>
        <a href="{% url 'users:employees_list' %}">
          <a href="{% url 'users:employees_list' %}">
            <button type="button" class="btn btn-info btn-lg" style="width: 140px; height: 50px">
              <span class="glyphicon glyphicon-back"></span> Voltar
            </button>
          </a>
        </a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
