<!DOCTYPE html>
{% load static %}
<html lang="pt">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

  	<title>{% block title %} ONG João de Barro {% endblock %}</title>

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> <!-- Bootstrap Core CSS -->
    <link href="{% static 'distt/css/sb-admin-2.min.css' %}" rel="stylesheet"> <!-- Custom CSS -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"> <!-- Custom Fonts -->
</head>

<body>
  <div id="wrapper">
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">ONG - João de Barro</a>
      </div>
      <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Olá {{ user }} <i class="fa fa-caret-down"></i></a>
          <ul class="dropdown-menu dropdown-user">
            <li><a href="{% url 'accounts:index' %}"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
            <li class="divider"></li>
            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Sair </a></li>
          </ul>
        </li>
      </ul>
      <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
          <ul class="nav" id="side-menu">
            <br>
            <li><a href="{% url 'index' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard </a></li>
            <li><a href="{% url 'donations:donation' %}"><i class="glyphicon glyphicon-gift"></i> Doações </a></li>
            <li><a href="{% url 'expenses:expense' %}"><i class="glyphicon glyphicon-list-alt"></i> Despesas </a></li>
            <li><a href="#"><i class="fa fa-users"></i> Consultar <span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li><a href="{% url 'users:students_list' %}"> Alunos </a></li>
                <li><a href="{% url 'users:donors_list' %}"> Doadores </a></li>
                <li><a href="#"> Funcionários </a></li>
                <li><a href="#"> Professores </a></li>
              </ul>
            </li>
            <li><a href="#"><i class="fa fa-user"></i> Minha conta <span class="fa arrow"></span></a>
              <ul class="nav nav-second-level">
                <li><a href="{% url 'accounts:index' %}"> Informações de perfil </a></li>
                <li><a href="{% url 'accounts:update_user' %}"> Alterar meus dados </a></li>
                <li><a href="{% url 'accounts:update_password' %}"> Alterar senha </a></li>
              </ul>
            </li>
            <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Sair </a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% block spacename %}{% endblock spacename %}</h1>
            </div>
        </div>
        <div class="row">
            {% block container %} {% endblock %}
        </div>
    </div>
  </div>

  <script src="{% static 'jquery/jquery.min.js' %}"></script> <!-- jQuery -->
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script> <!-- Bootstrap Core JavaScript -->
  <script src="{% static 'metisMenu/metisMenu.min.js' %}"></script> <!-- Metis Menu Plugin JavaScript -->
  <script src="{% static 'distt/js/sb-admin-2.min.js' %}"></script> <!-- Custom Theme JavaScript -->

</body>

</html>
